langchain
langchain-google-genai
python-dotenv
streamlit
tiktoken
faiss-cpu
langchain_experimental
sentence-transformers
langchain-google-genai
requests
beautifulsoup4
langchain-community
google-generativeai
chromadb
langchain-chroma
pypdf
unstructured
fastapi
uvicorn
pydantic
ABS