langchain
langchain-openai
python-dotenv
streamlit
tiktoken
faiss-cpu
langchain_experimental
sentence-transformers
requests
beautifulsoup4
langchain-community
chromadb
langchain-chroma
pypdf
unstructured
fastapi
uvicorn
pydantic
openai
deepseek-ai
langchain-google-genai
google-generativeai
langchain-huggingface